* {
  margin: 0;
  font-family: "AvenirRegular";
  box-sizing: border-box;
}

.inventory__tableHeader {
  &--nonMobile {
    display: none;
  }
  &-item--mobile {
    margin: 24px 0 16px 0;
  }
}

.inventory {
  &__title {
    font-family: "AvenirBold";
    margin: 32px 0 16px 5vw;
  }

  &__search {
    @include input;
    margin: 16px 0 32px 5vw;
    width: 80vw;
    padding-left: 48px;
    background-image: url(../assets/icons/SVG/Icon-search.svg);
    background-repeat: no-repeat;
    background-position: 24px 16px;
  }

  &__btn {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 8vw;
    bottom: 15vh;
    background-color: $darkblue;
    border: none;
    background-image: url(../assets/icons/SVG/Icon-add.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
  }

  &__table {
    padding: 0 5vw;
  }

  &__row {
    border-bottom: 1px solid $mercury;
    padding-top: 24px;
    position: relative;

    &-items--hidden {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &-kebab {
      position: absolute;
      top: 24px;
      right: 0;
    }

    &-dropdown {
      position: absolute;
      top: 48px;
      right: 0;
      border: 1px solid $mercury;
      padding: 10px;
      background-color: $white;
    }

    &-item {
      display: flex;
      flex-direction: column;
      margin: 16px 0 24px 0;

      &--name {
        font-family: "AvenirDemiBold";
        text-decoration: none;
        color: black;
        margin-bottom: 16px;
      }
    }
  }
}
