/* media query for mobile */
/* media query for tablet */
/* media query for landscape, medium pixel density desktops */
/* media query for high pixel density desktops */
@font-face {
  font-family: "AvenirRegular";
  src: url(../assets/fonts/Avenir-Regular.otf);
  font-style: normal;
}

@font-face {
  font-family: "AvenirDemiBold";
  src: url(../assets/fonts/Avenir-Demi.otf);
  font-style: normal;
}

@font-face {
  font-family: "AvenirBold";
  src: url(../assets/fonts/Avenir-Bold.otf);
  font-style: normal;
}

/*This stylesheet contains the font-sizes for all the elements*/
h1 {
  font-size: 24px;
  line-height: 32px;
}

h2 {
  font-size: 14px;
  line-height: 22px;
}

h3,
h4,
p,
li {
  font-size: 13px;
  line-height: 18px;
}

h5,
label {
  font-size: 12px;
  line-height: 20px;
  font-family: "AvenirBold";
  color: #afafaf;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 36px;
    line-height: 44px;
  }
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
  h4,
  p,
  li {
    font-size: 14px;
    line-height: 22px;
  }
  h5 {
    font-size: 12px;
    line-height: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 36px;
    line-height: 44px;
  }
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
  h4,
  p,
  li {
    font-size: 14px;
    line-height: 22px;
  }
  h5 {
    font-size: 12px;
    line-height: 20px;
  }
}

.location {
  margin: 0 5vw;
}

.location__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.location__title {
  margin-top: 32px;
  margin-bottom: 16px;
  font-family: "AvenirBold";
  font-size: 24px;
  line-height: 32px;
}

.location__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  border: 1px grey solid;
  width: 90%;
  margin-bottom: 32px;
}

.location__search--icon {
  padding: 2% 2% 2% 5%;
}

.location__search--input {
  width: 85%;
  padding-top: 2%;
  padding-bottom: 2%;
  border: none;
}

.location__search--input:focus {
  outline: none;
}

.location__search--input::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 18px;
  font-family: "AvenirRegular";
}

.location__search--input:-ms-input-placeholder {
  font-size: 13px;
  line-height: 18px;
  font-family: "AvenirRegular";
}

.location__search--input::-ms-input-placeholder {
  font-size: 13px;
  line-height: 18px;
  font-family: "AvenirRegular";
}

.location__search--input::placeholder {
  font-size: 13px;
  line-height: 18px;
  font-family: "AvenirRegular";
}

.location__content-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "AvenirRegular";
  font-size: 13px;
  line-height: 18px;
}

.location__content-detail--left--geo {
  margin-bottom: 25px;
}

.location__content-detail--left--geo--warehouse {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 22px;
  font-family: "AvenirDemiBold";
}

.location__content-detail--left--manager {
  margin-bottom: 25px;
}

.location__content-detail--left--manager--name {
  margin-bottom: 10px;
}

.location__content-detail--left--contact {
  margin-bottom: 25px;
}

.location__content-detail--left--contact--phone {
  margin-bottom: 10px;
}

.location__content-detail--left--categories {
  margin-bottom: 24px;
}

.location__content-detail--left--categories--lineOne {
  margin-bottom: 10px;
}

.location__content-detail--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location__content-seperater {
  margin: 0;
}

.location__label {
  display: none;
}

.desktop__title {
  display: none;
}

.warehouse__link {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .location {
    margin: 0 3.125vw;
  }
  .location__header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .location__title {
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 36px;
    line-height: 44px;
  }
  .location__search {
    margin-top: 48px;
    margin-bottom: 48px;
    width: 30vw;
  }
  .location__search--input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 22px;
  }
  .location__search--input:-ms-input-placeholder {
    font-size: 14px;
    line-height: 22px;
  }
  .location__search--input::-ms-input-placeholder {
    font-size: 14px;
    line-height: 22px;
  }
  .location__search--input::placeholder {
    font-size: 14px;
    line-height: 22px;
  }
  .location__content-detail--left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    font-size: 14px;
    line-height: 22px;
  }
  .location__content-detail--left--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 24px;
  }
  .location__content-detail--left--geo {
    margin-bottom: 32px;
  }
  .location__content-detail--left--geo--warehouse {
    font-size: 16px;
    line-height: 24px;
  }
}

@media only screen and (min-width: 1024px) {
  .location {
    margin: 0 12.5vw;
  }
  .location__search {
    width: 20vw;
  }
  .location__content-detail--left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .location__content-detail--left--wrapper {
    width: 48vw;
  }
  .desktop__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 32px;
    font-size: 12px;
    line-height: 20px;
    font-family: "AvenirBold";
    color: #afafaf;
  }
}

.warehouse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.warehouse__seperater {
  display: none;
}

.warehouse__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  line-height: 32px;
  font-family: "AvenirBold";
  margin: 0 5vw 20px 5vw;
}

.warehouse__title-link {
  padding-right: 5%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.warehouse__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 5vw 20px 5vw;
  font-size: 13px;
  line-height: 18px;
  font-family: "AvenirRegular";
}

.warehouse__address-label {
  font-size: 12px;
  line-height: 20px;
  font-family: "AvenirDemiBold";
  color: #afafaf;
  margin-bottom: 10px;
}

.warehouse__address-street {
  margin-bottom: 20px;
}

.warehouse__address-location {
  margin-bottom: 10px;
}

.warehouse__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 5vw 20px 5vw;
  font-size: 13px;
  line-height: 18px;
  font-family: "AvenirRegular";
}

.warehouse__contact-label {
  font-size: 12px;
  line-height: 20px;
  font-family: "AvenirDemiBold";
  color: #afafaf;
  margin-bottom: 10px;
}

.warehouse__contact-manager {
  margin-bottom: 20px;
}

.warehouse__contact-info {
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .warehouse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .warehouse__title {
    font-size: 36px;
    line-height: 44px;
    margin-left: 3vw;
    margin-right: 3vw;
  }
  .warehouse__seperater {
    display: block;
    width: 94%;
  }
  .warehouse__tabdesk-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 14px;
    line-height: 22px;
    margin: 0 3vw;
  }
  .warehouse__address {
    margin: 20px 30vw 20px 0;
    font-size: 14px;
    line-height: 22px;
  }
  .warehouse__address-label {
    font-size: 12px;
    line-height: 20px;
    font-family: "AvenirDemiBold";
    color: #afafaf;
    margin-bottom: 10px;
  }
  .warehouse__contact {
    margin: 20px 0 20px 0;
    font-size: 14px;
    line-height: 22px;
  }
  .warehouse__contact-label {
    font-size: 12px;
    line-height: 20px;
    font-family: "AvenirDemiBold";
    color: #afafaf;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .warehouse__title {
    margin-left: 12.5vw;
    margin-right: 12.5vw;
  }
  .warehouse__seperater {
    width: 75%;
  }
  .warehouse__tabdesk-wrapper {
    margin: 0 12.5vw;
  }
}

.productDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #e1e1e1;
}

.productDetail__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
  line-height: 18px;
  font-family: "AvenirRegular";
  margin-left: 5vw;
  margin-top: 20px;
  width: 95%;
}

.productDetail__left-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.productDetail__left-item--label {
  font-size: 12px;
  line-height: 20px;
  font-family: "AvenirDemiBold";
  color: #afafaf;
  margin-bottom: 15px;
}

.productDetail__left-item--name {
  font-size: 14px;
  line-height: 22px;
  font-family: "AvenirDemiBold";
  margin-bottom: 15px;
}

.productDetail__left-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.productDetail__left-date--label {
  font-size: 12px;
  line-height: 20px;
  font-family: "AvenirDemiBold";
  color: #afafaf;
  margin-bottom: 15px;
}

.productDetail__left-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.productDetail__left-location--label {
  font-size: 12px;
  line-height: 20px;
  font-family: "AvenirDemiBold";
  color: #afafaf;
  margin-bottom: 15px;
}

.productDetail__left-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.productDetail__left-quantity--label {
  font-size: 12px;
  line-height: 20px;
  font-family: "AvenirDemiBold";
  color: #afafaf;
  margin-bottom: 15px;
}

.productDetail__left-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.productDetail__left-status--label {
  font-size: 12px;
  line-height: 20px;
  font-family: "AvenirDemiBold";
  color: #afafaf;
  margin-bottom: 15px;
}

.productDetail__right {
  margin-right: 5vw;
  margin-top: 20px;
}

.productDetail__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.detail-seperater {
  display: none;
}

@media only screen and (min-width: 768px) {
  .productDetail {
    text-align: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .productDetail__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 94%;
    font-size: 14px;
    line-height: 22px;
    margin-left: 3vw;
  }
  .productDetail__left-item {
    height: 100%;
    width: 30%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .productDetail__left-item--label {
    display: none;
  }
  .productDetail__left-item--name {
    font-size: 16px;
    line-height: 24px;
  }
  .productDetail__left-date {
    height: 100%;
    width: 15%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .productDetail__left-date--label {
    display: none;
  }
  .productDetail__left-location {
    height: 100%;
    width: 15%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .productDetail__left-location--label {
    display: none;
  }
  .productDetail__left-quantity {
    height: 100%;
    width: 15%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .productDetail__left-quantity--label {
    display: none;
  }
  .productDetail__left-status {
    height: 100%;
    width: 15%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .productDetail__left-status--label {
    display: none;
  }
  .productDetail__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 3vw;
  }
  .productDetail__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .item-0 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .detail-seperater {
    display: block;
    background-color: #e1e1e1;
    padding: 0;
    margin: 0 3vw;
  }
}

@media only screen and (min-width: 1024px) {
  .productDetail__left {
    width: 75%;
    margin-left: 12.5vw;
  }
  .productDetail__right {
    margin-right: 12.5vw;
  }
  .detail-seperater {
    margin: 0 12.5vw;
  }
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */